// /0/ https: //www.figma.com/file/AOKabCJEdEqr9ZZEaJ0IMS/html%2Fcss-(Copy)?node-id=1%3A811&t=mFLgbWpYaLHtBIoH-0
// * 


@import url(normalize.css);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top_content_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    list-style: none;
    display: flex;
    font-family: 'Roboto';
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
}

.contact_header {
    // padding-top: 115px;
    // flex-grow: 1;
    background-image: url(images/contacts_header.svg);
    background-size: 100% auto;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    // background-size: 44%;
    margin-top: 50px;
    padding-top: 40px;
    // height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_h2 {
    display: block;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    // margin-top: 40px;
}

.contact_header p {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 16px;
    margin-bottom: 50px;
    max-width: 780px;
}


.top_info {
    padding-top: 80px;
    flex-grow: 1;
    background-image: url(images/top_info_background_picture.svg);
    background-repeat: no-repeat;
    background-position: right, center;
    background-size: 48%;
    padding-bottom: 93px;
}

.top_heading {
    width: 540px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
    margin-top: 0px;
}

.top_button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    margin-bottom: 10px;
}

.text-heading {
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.what_we_do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    font-size: 36px;
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.heading_mini {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card_img {
    align-self: center;
    margin-bottom: 51px;
}

.text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text_project {
    width: 75%;
    margin: 0 auto;
    opacity: 1;
    text-align: center;
    margin: 32px auto 64px;
}

.project_img {
    width: 100%;
}

.project_item {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.project_item_margin {
    margin-right: 32px;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project_text_item {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.footer {
    background: #316099;
    margin-top: 112px;
    padding-top: 91px;
    padding-bottom: 64px;
}

.footer_text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    width: 425px;
}

.footer_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer_heading {
    width: 343px;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: left;
}

.footer_top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

hr {
    opacity: 0.4;
}

.footer_list {
    list-style-type: none;
}

.footer_list_item_1::before {
    content: "1. ";
    margin-right: 19px;
}

.footer_list_item_2::before {
    content: "2. ";
    margin-right: 19px;
}

.footer_list_item_3::before {
    content: "3. ";
    margin-right: 19px;
}

.footer_copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}



input,
textarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button_submit {
    width: 100%;
    height: 72px;
    padding: auto;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border: 1px solid #5A98D0;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 42px;
}

.contacts_forms {
    display: flex;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 96px;
    max-width: 940px;
    justify-content: space-between;
}

.contacts-info {
    margin-top: 80px;
    max-width: 300px;
}

.contacts-info ul {
    list-style-type: none;
    text-decoration: none;
}

.no_line {
    text-decoration: none;
}

.contacts-info h4 {
    margin-top: 40px;
}

.phones li {
    background: url(images/phone_small.svg) no-repeat left center;
    // list-style-position: inside;
    // position: relative;
    // margin-left: -20px;
    // padding-left: 20px;
    margin-bottom: 16px;
}

.phones li a {
    // display: block;
    padding-left: 39px;
    // text-align: center;
    // align-self: center;
}

.online_cervice li:first-child {
    background: url(images/online_www.svg) no-repeat left center;
    margin-bottom: 16px;
}

.online_cervice li:last-child {
    background: url(images/online_mail.svg) no-repeat left center;
}

.online_cervice li a {
    padding-left: 39px;
    // text-align: center;
    // align-self: center;
}


.contacts_map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container {
    max-width: 1140px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 540px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    padding: 56px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.form h4 {
    margin-bottom: 40px;
}

.form input {
    margin-top: 8px;
    margin-bottom: 32px;
    width: 428px;
    height: 72px;
    padding-left: 16px;
}

.form textarea {
    margin-top: 8px;
    margin-bottom: 32px;
}



@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top_info {
        background-position: right 220px;
        // background-size: 37%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 32px;
    }

    .contacts_forms {
        display: flex;
        margin: auto;
        margin-top: 64px;
        margin-bottom: 96px;
        max-width: 940px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .form {
        margin-top: 64px;
        width: auto;
    }


    .contact_header {

        background-size: auto auto;

    }

    .footer_info {
        flex-direction: column;
        margin-top: 64px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .footer_container {
        margin-left: 124px;
        margin-right: 124px;
    }

    .list_item {
        margin-bottom: 25px;
    }

    .footer_list_item_1::before {
        content: "1. ";
        margin-right: 36px;
    }

    .footer_list_item_2::before {
        content: "2. ";
        margin-right: 36px;
    }

    .footer_list_item_3::before {
        content: "3. ";
        margin-right: 36px;
    }

    .footer_button {
        padding: 10px 30px;
    }

    .footer_list {
        align-items: flex-start;
    }

    .footer_text {
        width: 336px;
    }
}

@media (max-width: 667px) {
    .header {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top_info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .top_heading {
        width: 100%;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.04em;
        margin-bottom: 12px;
    }

    .text-heading {
        width: 100%;
        text-align: center;
    }

    .top_button {
        font-size: 12px;
        line-height: 26px;
        padding: 0px 8px;
        margin-bottom: 40px;
    }

    .heading {
        font-size: 24px;
        line-height: 28px;
    }

    .what_we_do {
        padding-top: 48px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
    }

    .card {
        width: 100%;
        margin-bottom: 32px;
    }

    .text_project {
        width: 100%;
    }

    .project_text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project_text_item {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
    }

    .project_parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project_item_margin {
        margin: 0;
        margin-bottom: 16px;
    }

    .footer {
        width: 100vw;
        padding-top: 18px;
        margin-top: 32px;
    }

    .footer_info {
        flex-direction: column;
        margin-top: 32px;
        line-height: 19px;
        letter-spacing: 0.05em;
        color: #FFFFFF;

    }

    .footer_copy {
        text-align: center;
        margin-top: 37px;
    }

    .footer_heading {
        width: 75%;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 32px;
    }

    .footer_item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_text {
        width: 95%;
        margin-bottom: 33px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;
    }

    .footer_top {
        // width: 100%;
        padding-bottom: 47px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_button {
        padding: 10px 30px;
    }

    .footer_container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer_list {
        list-style-position: inside;
    }

    .form {
        height: 514px;
        width: 342px;
        padding: 35px;
    }

    .form h4 {
        margin-bottom: 40px;
    }

    .form input {
        margin-top: 2px;
        margin-bottom: 12px;
        max-width: 270px;
        height: 90px;
        padding-left: 22px;
    }

    .form textarea {
        margin-top: 2px;
    }

    .button_submit {
        margin-top: 16px;
    }

    .contact_header {

        margin-top: 18px;
        padding-top: 32px;
        // height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_header h2 {

        font-weight: 500;
        font-size: 24px;
        line-height: 28px;

        letter-spacing: 0.04em;
    }

    .contact_header p {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }

    .contacts_forms {
        margin-top: 0;
        margin-bottom: 32px;
    }

    .contacts_map iframe {
        max-height: 350px;
    }

    .contacts-info {
        max-width: 100%;

    }

    .contacts-info img {
        width: 100%;
    }

}